/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above is CSS Reset, below starts project 1 CSS*/


#page {
	padding: 10%;
}

#bkg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
}


/* based on 18px = 1em */

h1 {
	position: relative;
}

h1 {
	font-size: 2.441em; /* 43.945px */
	font-family: 'Pinyon Script', cursive;
	top: .262em;
}

h1 small {
	font-size: 0.41em; /* 28.125px */
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	top: 0.8em;
	bottom: 1em;
	white-space: nowrap;
}

#company_name {
	/*background-color: red;*/
	width: auto;
	height: auto;
	padding: 2.197em;
}

h3 {
	position: auto;
	font-size: 1.563em; /* 28.125px */
	font-family: Verdana, Geneva, sans-serif;
	padding: 0.8em;
}

p {
	position: relative;
	font-size: 1em; /* 18px */
	font-family: Verdana, Geneva, sans-serif;
	top: 1em;
}

#main-navbar {
  background-color: #625370;
  height: 6em;
}

#main-navbar ul {
  float: left;
  position: relative;
  list-style-type: none;
  text-decoration: none;
  margin-top: auto;
}

#main-navbar ul li {
	float left;
	position: relative;
	display: block;
	padding: 0.555556em;
}

.signup {
  margin: 1em auto;
  border-radius: 5px;
  padding: 0.8em;
}

@media screen and (min-width: 30em) {

h1 {
	font-size: 4.292em; /* 68.665px */
	font-family: 'Pinyon Script', cursive;
	top: 0.262em;
}


h1 small{
	font-size: 0.64em; /*16px */
	font-family: Verdana, Geneva, sans-serif;
	top: 2.197em;
	white-space: nowrap;
}

h3 {
	position: relative;
	font-size: 2.197em; /* 35.156px */
	font-family: Verdana, Geneva, sans-serif;
	top: 1em;
	padding: 1em;
}

p {
	position: relative;
	font-size: 1em; /* 18px */
	font-family: Verdana, Geneva, sans-serif;
	top: 1em;
}

#main-navbar {
	overflow: hidden;
	background-color: #625370;
	top: 5em;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	padding: 1em;

}




