/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above is CSS Reset, below starts project CSS*/


#page {
	padding: 15%;
}

#bkg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
}

h1, h2 {
	position: absolute;
}


h1 {
	font-size: 4.292em; /* 68.665px */
	font-family: 'Pinyon Script', cursive;
	top: .72em;
}

h2 {
	font-size: 2.197em; /* 35.156px */
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	top: 3.5em;
}

#entry h3 {
	position: relative;
	font-size: 2.197em; /* 35.156px */
	font-family: Verdana, Geneva, sans-serif;
	top: 5.5em;
}

#entry p {
	position: relative;
	font-size: 1em; /* 18px */
	font-family: Verdana, Geneva, sans-serif;
	top: 12.85em;
}

#entry button {
	position: relative;
    font-size: 1em; /* 18px */
	top: 13.85em;
	
}




